{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <div class="container">
        <h1>Sell Stock</h1>
    </div>
    <br>
    <form method="POST">
        <div class="form-group">
            <select name=symbol>
                <option selected disabled>Stock Symbol</option>
                {% for stock in portfolio %}
                    <option value="{{ stock.symbol }}">{{ stock.symbol }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <input name="shares" placeholder="Number of Shares" type="text">
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Sell</button>
        </div>
    </form>
{% endblock %}
